---
import Layout from '../layouts/Layout.astro'

import Post from '../components/post.astro'

import { getCollection } from 'astro:content'

const posts = await getCollection('blog')

posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
---

<Layout title="Blog - Fran Moreno" description="Blog de Fran Moreno">
  <div class="container mx-auto mt-10">
    <h1 class="text-4xl font-bold mb-5">Blog</h1>

    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      {
        posts.map((post) => (
          <Post
            url={'/blog/' + post.slug}
            img={post.data.image}
            title={post.data.title}
            date={post.data.pubDate}
          />
        ))
      }
    </div>
  </div>
</Layout>

<style></style>
