---
import Layout from '../layouts/Layout.astro'
import Project from '../components/project.astro'
import Post from '../components/post.astro'
import Stack from '../components/stack.astro'
import HeroSection from '../components/HeroSection.astro'

import { getCollection } from 'astro:content'

const posts = await getCollection('blog')

posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
---

<Layout
  title="Fran Moreno - Desarrollador Web"
  description="Web de Fran Moreno, Desarrollador Web"
>
  <HeroSection />

  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none py-16 sm:py-24">
      <div class="space-y-4">
        <div
          class="flex flex-col md:flex-row items-start md:items-center justify-between"
        >
          <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
            Últimos artículos
          </h2>
          <a
            href="/blog"
            class="text-sm font-semibold leading-6 text-indigo-600 dark:text-indigo-300 hover:text-indigo-500 dark:hover:text-indigo-200 transition-colors"
          >
            Ver todos <span aria-hidden="true">→</span>
          </a>
        </div>
        <p class="text-lg text-gray-600 dark:text-gray-300">
          Explora mis últimas publicaciones sobre desarrollo web, tecnología y
          experiencias.
        </p>
      </div>

      <div class="mt-10">
        <div class="grid gap-8 sm:grid-cols-2">
          {
            posts
              .slice(0, 2)
              .map((post) => (
                <Post
                  url={'/blog/' + post.slug}
                  img={post.data.image}
                  title={post.data.title}
                  date={post.data.pubDate}
                />
              ))
          }
        </div>
      </div>
    </div>

    <div class="mx-auto max-w-2xl lg:max-w-none py-16 sm:py-24">
      <div class="space-y-4">
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Proyectos</h2>
        <p class="text-lg text-gray-600 dark:text-gray-300">
          Una selección de mis proyectos personales y profesionales.
        </p>
      </div>

      <div class="mt-10 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        <Project
          title="Mi web"
          github="https://github.com/siner/astro.franmoreno"
        >
          <p>
            Esta web, hecha con el framework <a
              class="font-bold hover:text-indigo-600 dark:hover:text-indigo-300 transition-colors"
              href="https://astro.build"
              target="_blank"
            >
              Astro
            </a>
          </p>
        </Project>

        <Project
          title="Torneos Poker Live"
          github="https://github.com/siner/nextjs.torneospokerlive"
          url="https://torneospokerlive.com"
        >
          <p>
            Web informativa sobre torneos de Poker en vivo en todos los casinos
            de España, desarrollada con el framework <a
              class="font-bold hover:text-indigo-600 dark:hover:text-indigo-300 transition-colors"
              href="https://nextjs.org/"
              target="_blank"
            >
              NextJS
            </a> y <a
              class="font-bold hover:text-indigo-600 dark:hover:text-indigo-300 transition-colors"
              href="https://supabase.com"
              target="_blank"
            >
              Supabase
            </a> como backend.
          </p>
        </Project>

        <Project
          title="Reloj de Poker"
          github="https://github.com/siner/nextjs.pokerclock"
          url="https://reloj.torneospokerlive.com/"
        >
          <p>
            Reloj para organizar torneos de poker en casa o con amigos, te
            permite definir la estructura de ciegas, el tiempo, los premios,
            etc... Desarrollado usando <a
              class="font-bold hover:text-indigo-600 dark:hover:text-indigo-300 transition-colors"
              href="https://nextjs.org/"
              target="_blank"
            >
              NextJS
            </a>
          </p>
        </Project>
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-7xl px-6 lg:px-8 py-16 sm:py-24">
    <div class="mx-auto max-w-2xl lg:max-w-none text-center">
      <h2 class="text-3xl font-bold tracking-tight sm:text-4xl mb-10">
        Stack Tecnológico
      </h2>
      <Stack />
    </div>
  </div>
</Layout>

<style></style>
