---
import Layout from "../layouts/Layout.astro";
import { ArenguForm } from "react-arengu-forms";
import Devicon from "../components/elements/devicon";

const skills = [
  { name: "php", stars: 4 },
  { name: "mysql", stars: 4 },
  { name: "html5", stars: 5 },
  { name: "css3", stars: 4 },
  { name: "wordpress", stars: 5 },
  { name: "nodejs", stars: 3 },
  { name: "react", stars: 4 },
  { name: "nextjs", stars: 4 },
  { name: "vuejs", stars: 3 },
  { name: "nuxtjs", stars: 3 },
  { name: "git", stars: 4 },
  { name: "bash", stars: 4 },
  { name: "digitalocean", stars: 3 },
  { name: "figma", stars: 3 },
];
---

<Layout title="Fran Moreno">
  <div class="md:flex text-center md:text-left items-center container mx-auto">
    <div class="p-4 mt-10 md:mt-0 md:w-2/3">
      <h1 class="text-4xl font-bold mb-5">Front-end Developer</h1>
      <p>Computer Engineer with more than 15 years working as Web Developer</p>
      <p>
        Cofounder of Sozpic, CTO on AltaMK and trying to learn and help as much
        as possible
      </p>
    </div>
    <div class="flex-1 p-5 md:pt-20">
      <ArenguForm id={import.meta.env.SECRET_ARENGU_ID} client:load />
    </div>
  </div>

  <div class="container mx-auto skills text-center">
    <h2 class="text-4xl font-bold mb-5">Personal Projects</h2>

    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-5 justify-items-center justify-content-center p-10"
    >
      <div>
        <h2 class="text-2xl font-bold mb-5">Fran Moreno Web</h2>
        <img src="/franmoreno.png" class="shadow-2xl border-2 mb-8 max-h-72" />
        <div class="flex gap-4 justify-center">
          <a
            class="px-4 py-2 border-slate-500 border-2 rounded-md font-bold"
            href="https://github.com/siner/astro.franmoreno"
            target="_blank"
            >Github
          </a>
        </div>
      </div>
      <div>
        <h2 class="text-2xl font-bold mb-5">Torneos Poker Live</h2>
        <img
          src="/torneospokerlive.png"
          class="shadow-2xl border-2 mb-8 max-h-72"
        />
        <div class="flex gap-4 justify-center">
          <a
            class="px-4 py-2 border-slate-500 border-2 rounded-md font-bold"
            href="https://torneospokerlive.com"
            target="_blank"
            >Visit Project
          </a>
          <a
            class="px-4 py-2 border-slate-500 border-2 rounded-md font-bold"
            target="_blank"
            href="https://github.com/siner/astro.torneospokerlive"
            >Github
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto skills text-center">
    <h2 class="text-4xl font-bold mb-5">Skills</h2>

    <div
      class="grid grid-cols-5 gap-5 justify-items-center justify-content-center"
    >
      {
        skills.map((skill) => (
          <Devicon
            name={`devicon-${skill.name}-plain`}
            stars={skill.stars}
            client:load
          />
        ))
      }
    </div>
  </div>
</Layout>

<style>

</style>
