<footer class="pb-5 mt-10 text-center">
  <h2 class="text-xl font-bold mb-5">Social</h2>
  <nav class="text-gray-800 dark:text-white flex space-x-4 justify-center">
    <a
      href="https://twitter.com/siner"
      aria-label="Find me on Twitter"
      target="_blank"
      class="hover:text-blue-400"
    >
      <div class="w-1/6">
        <i class="devicon-twitter-plain"></i>
      </div>
    </a>

    <a
      href="https://github.com/siner"
      aria-label="Find me on Github"
      target="_blank"
      class="hover:text-blue-400"
    >
      <div class="w-1/6">
        <i class="devicon-github-plain"></i>
      </div>
    </a>
    <a
      href="https://blog.franmoreno.com"
      aria-label="My Blog"
      target="_blank"
      class="hover:text-blue-400"
    >
      <svg class="w-10 h-10 fill-current" viewBox="0 0 200 200">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M13.742 66.824c-18.323 18.323-18.323 48.029 0 66.352l53.082 53.082c18.323 18.323 48.029 18.323 66.352 0l53.082-53.082c18.323-18.323 18.323-48.03 0-66.352l-53.082-53.082c-18.323-18.323-48.03-18.323-66.352 0L13.742 66.824zm109.481 56.399c12.826-12.826 12.826-33.62 0-46.446s-33.62-12.826-46.446 0-12.826 33.62 0 46.446 33.62 12.826 46.446 0z"
        ></path>
      </svg>
    </a>
  </nav>
</footer>
