---
import SwitchDark from './elements/switchDark'
---

<header class="container mx-auto flex justify-between items-center">
  <a href="/" class="text-2xl md:text-4xl font-bold flex items-end py-4">
    Fran Moreno
  </a>
  <div class="flex justify-between items-center gap-10">
    <ul>
      <li><a class="font-bold hover:underline" href="/blog">Blog</a></li>
      <li><a class="font-bold hover:underline" href="https://cv.franmoreno.com" target="_blank">CV</a></li>
    </ul>
    <div class="w-20">
      <SwitchDark client:only="react" />
    </div>
  </div>
</header>
