---
export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props as Props

import Header from '../components/header.astro'
import Footer from '../components/footer.astro'

import '../styles/globals.css'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script async src="https://sdk.arengu.com/forms.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="dark:bg-[#333333] dark:text-[#f5f5f5]">
    <Header />
    <div class="mx-4">
      <slot />
    </div>
    <Footer />
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme')
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark'
        }
        return 'light'
      })()

      if (theme === 'light') {
        document.documentElement.classList.remove('dark')
      } else {
        document.documentElement.classList.add('dark')
      }
      window.localStorage.setItem('theme', theme)
    </script>
  </body>
</html>
